* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  





  #mousePos{
    color: rgb(255, 255, 255);
    font-family: "Consolas", 'Source Code Pro';
    z-index: 200;
  }
  
  #mousetx {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 200;
  }
  




  /* NAVBAR */

  .navbar{
    margin: 16px auto;
  
    position: relative;
  
    min-width: 500px;
  
    
    font-size: 1.5rem;
    font-family:"consolas", "Cascadia mono", 'Source Code Pro', "Arial" ;
    width: 100%;
    height: 9rem;
    
    z-index: 100;
  }
  
  .name{
    display: inline-block;
    margin-left: 2%;
    margin-right: auto;
    
    color: #ffffff;
    letter-spacing: .8vw;
    font-size: 1.3rem;
    text-shadow: 0 0 1rem #fff , 0 0 2rem #fff ;
    width: auto;
  
    padding-top: 1rem;
  }
  
  .navbarUL{
  
    float: right;
    width: auto;
    padding-top: 1rem;
    margin-right: 2rem;
   
  }
  
  .navbarLinks{
    list-style-type: none;
    display: inline-block;
    
  
  }
  
  .navbarItem{
    
    
    border: 1px dashed #fff;
    border-top: none;
    border-bottom: none;
    
    padding: 0 3rem;
    color: white;
    text-decoration: none;
    z-index: 20;
    
    
  }
  
  .navbarItem:hover{
  
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 255, 255);
    border-top: white;
    text-shadow: 0px 0px 2rem #fff;
    transition: 0.2s;
    
  }
  
  .hiddenCont{
    
    height: 10rem;
    width: 10.25rem;
    margin: 0px 0px;
    
    font-size: 1.3rem;
    position: absolute;
    display:block;
    opacity: 0;
    border: 1px dashed white;
    border-top: none;
    transition: 0.5s ease-out;
  
  }
  
  .hiddenlink{ 
    padding: 7px 0;
    display: block; 
    list-style-type: none;
    
    text-align: center;
    
  }
  
  .hidden{
    font-family:"consolas", "Cascadia mono", 'Source Code Pro', "Arial" ;
    align-items: center;
    display:block;
    text-decoration: none;
    color: #fff;
    margin: 15px auto;
  }
  
  #works:hover .hiddenCont{
    display: block;
    opacity: 1;
    transition: 0.2s ease-in;
    
    
  }
  
  .hidden:hover{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 255, 255);
    border-top: white;
  }
  
  
  .worksPage{
    background-color: black;
  
  }
  
  



  /* LANGUAGES */

  .langs{
    display: block;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 2.5rem;
    padding-top: 1rem;
    
  }

  .langs a{
    border: 1px solid #fff;
    text-decoration: none;
    padding: 2px;
    color: #fff;
  }

  .langs a:hover{
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px #fff;
    transition: 0.2s;
    
  }

  .langs a:active{
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: rgb(255, 255, 255);
  }




  
 /* BODY */

  .worksbody{
    
    font-family:'Source Code Pro', "consolas", "Cascadia mono", "Arial" ;
    background-color: black;
  }

  .header{
    color: #fff;
    margin-top: 2.5rem;
    position: relative;
    width: 100vw;

  }

  .headercont{
    display: block;
    
    height: 47.5rem;
    
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

   /* background-image: url("./Mediapool/Full_images/OMfull.png");*/
    background-attachment: fixed;
    
   
  }


  .title{
    position: absolute;
    
    font-size: 3rem;
    border: 1px solid #fff;
    top: 9rem;
    left: 15vw;
  }

  .info{
    text-shadow: 0 0 .5rem #fff , 0 0 1.5rem #fff ;
    position: absolute;
    top: 16rem;
    left: 25rem;
    text-align: left;
   
    font-size: 1.25rem;
  }

.imgfull{

  display: block;
  width: 100%;
  max-width: 100%;
}

.ekoimg{
  display: inline-block;
  padding-right: 35vw;
  height: 380px;
  margin-left: 250px;

}




.descBlock{
  display: flex;
  width: 100%;
  height: auto;

}

.descDiv{
    color: #fff;
    display: flex;
    
    height: auto;
    padding-top: 4vh;
    padding-right: 5vw;
    padding-left: 5vw;
    width: 100%;
    
    text-align: justify;
}

.quoteDiv{
  
    color: #696969;
    display: inline-block;
    height: auto;
    padding-top: 10vh;
    width: 40%;
    text-align: center;
    padding-right: 15vw;
}

.theme{
  display: block;
  text-align: justify;
  padding: 15vh 5vw;

  color: #fff;
  
}


.YT{
  display: inline-block;
  border: 1px solid #fff;
  margin-top: 15vh;
  margin-left: 5vw;
  margin-right: 14vw;

  width: 771px; 
  height: 410px;
}


.techImage{
  display: block;
  width: 100%;
  height: 47.5rem;

  object-fit: cover;
}

.tech p{
  display: inline-block;
  text-align: justify;
  height: auto;
  width: 50vw;
  margin-top: 5rem;
  padding: 1rem 5rem;

  
  
  color: #fff;
}

.tech span{
  text-align: left;
  display: flex;
  float: right;
  margin-top: 0px;
  padding: 0 5vw;
  color: #696969;
  
}



.paintImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11rem;

}






/* FOOTER */


.footer{
  text-align: right;
  color: #fff;
  font-family:"consolas", "Cascadia mono", "Arial";
  padding-right: 2.5rem;
}

#year{
  padding-right: 2rem;
}

.copyright{
  text-align: center;
  width: 17rem;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid #fff;
}



/*OM----------------------------------------------------------------------------------------------------------------------------------------------------------*/
#scrollOM{
  position: relative; 
  display: inline-block; 
  padding: 0px 20px; 
  margin-top: 2rem;
}




.scrollCont{
  margin: auto;
  overflow: auto;
  white-space: nowrap;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;

}

.scrollCont img{
  height: 500px;
}

.scrollCont a{
  text-decoration: none;
}

/*For tablet and small screen*/
@media only screen and (max-width: 1023px){

  *{
    max-width: 100%;
  }

  .navbar{
    display: block;
    text-align: center;
    min-width: auto;
    width: 100%;
    margin: auto;
  }

  .navbarUL{
    display: block;
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    align-items: center;
    text-align: center;
  }
  
  .navbarLinks{
    list-style-type: none;
    display: inline-block;
    
  
  }
  
  .navbarItem{
    
    font-family:"consolas", "Cascadia mono", "Arial" ;
    border: 1px dashed #fff;
    border-top: none;
   
    font-size: 100%;
    padding: 0 4vw;
    color: white;
    text-decoration: none;
    z-index: 20; 
  }
  
  .navbarItem:hover{
  
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 255, 255);
    border-top: white;
    text-shadow: 0px 0px 15px #fff;
    transition: 0.2s;
    
  }
  
  
  
  
  
  .hiddenCont{
    display: none;
  }

  .hiddenlink{ 
    display: none;
  }
  
  .hidden{
    display: none;
  }
  
  
  #works:hover .hiddenCont{
    opacity: 0;
    
  }
  
  .hidden:hover{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 255, 255);
    border-top: white;
  }
  
.name{
  display: block;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}







.headercont{
  height: 60vh;
  overflow: hidden;
}

.title{
  
  font-size: 2.7rem;
  text-align: left;
  top: 9rem;
  left: 3vw;
}

.info{
  
  top: 16rem;
  left: 22vw;
  
 
  font-size: 1.1rem;
}

.descDiv{
  
  padding-top: 7vh;
  padding-right: 5vw;
  padding-left: 5vw;
  width: 100%;
  font-size: .8rem;
 
  text-align: none;
}

#desc{
  font-family:"consolas", "Cascadia mono", 'Source Code Pro', "Arial" ;
}

.descBlock{
  display: block;
  width: 100%;
  height: auto;
  
}


.YT{
  display: block;
  width: 80vw;
  height: (80vw*9)/16;

  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.ekoimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-right: 0vw;
  height: 250px;
  width: auto;
  

}


.quoteDiv{
  
  
  margin-right: auto;
  margin-left: auto;
  display: block;
  
  padding-top: 10vh;
  width: 80vw;
  padding-bottom: 0;
  
  padding-right: 0;
  font-size: .7rem;
}

.theme{
  display: block;
  font-family: 'Source Code Pro', "Arial";
  padding: 15vh 5vw;
  font-size: .8rem;
}


.techImage{
  display: block;
  width: 100%;
  height: auto;
  padding-top: 0;
}

.tech span{
  font-size: .5rem;
}

.tech p{
  
  height: auto;
  width: auto;
  margin-top: 5rem;
  padding: 0rem 5vw;
  padding-bottom: 2rem;
  font-size: .8rem;

}



.paintImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  width: 100vw;

}

.scrollCont{
 
  width: auto;
  max-width: auto;
  padding-top: 3rem;
  padding-bottom: 0;
  height: 100%;
}

.scrollCont img{
  height: 235px;
  width: auto;
  max-width: 150%;
}




/* FOOTER */


.footer{
  text-align: center;
  
  
  padding-right: 0rem;
  padding-top: 2rem;
}



.copyright{
  text-align: center;
  
  font-size: 1.2rem;

}
}

/*For smartphones*/
@media only screen and (max-width: 481px){

  #infoLower{
    padding-top: 7.5rem;
  }


 

}

