* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

  }



  #bgVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;

}

#mousePos{
    color: rgb(255, 255, 255);
    font-family: "Consolas";
    z-index: 200;
  }
  
  #mousetx {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 200;
  }
  




  /* NAVBAR */

  .navbar{
    font-size: 1.5rem;
    font-family:"consolas", "Cascadia mono", "Arial" ;
    width: auto;
    height: 110px;
    display: flex;
    text-align: right;
    justify-content: right;
    margin: 15px 60px;
  }
  
  .name{
  
      color: #ffffff;
      letter-spacing: 1rem;
      padding-right: 700px;
      padding-top: 10px;
      font-size: 1.3rem;
      text-shadow: 0 0 10px #fff , 0 0 20px #fff ;
      
  
  }
  
  .navbarUL{
    display: inline;
    margin: 0;
   
    text-align: right;
  }
  
  .navbarLinks{
    list-style-type: none;
    display: inline-block;
    
  
  }
  
  .navbarItem{
    
    
    border: 1px dashed #fff;
    border-top: none;
    border-bottom: none;
    
    padding: 0 3rem;
    color: white;
    text-decoration: none;
    z-index: 20;
    
    
  }
  
  .navbarItem:hover{
  
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 255, 255);
    border-top: white;
    text-shadow: 0px 0px 15px #fff;
    transition: 0.2s;
    
  }
  
  .hiddenCont{
    
    height: 150px;
    width: 164px;
    margin: 0px 0px;
    
    font-size: 1.3rem;
    position: absolute;
    display:block;
    opacity: 0;
    border: 1px dashed white;
    border-top: none;
    transition: 0.5s ease-out;
  
  }
  
  .hiddenlink{ 
    padding: 7px 0;
    display: block; 
    list-style-type: none;
    
    text-align: center;
    
  }
  
  .hidden{
    font-family:"consolas", "Cascadia mono", "Arial" ;
    align-items: center;
    display:block;
    text-decoration: none;
    color: #fff;
    margin: 15px auto;
  }
  
  #works:hover .hiddenCont{
    display: block;
    opacity: 1;
    transition: 0.2s ease-in;
    
    
  }
  
  .hidden:hover{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(255, 255, 255);
    border-top: white;
  }


    
 /* BODY */

 .worksbody{
    
    font-family:"consolas", "Cascadia mono", "Arial" ;
    background-color: black;
  }

  .header{
    color: #fff;
    margin-top: 50px;
    position: relative;
    width: 100vw;

  }

  .headercont{
    display: block;
    
    height: 500px;
    
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

   /* background-image: url("./Mediapool/Full_images/OMfull.png");*/
    background-attachment: fixed;
    
   
  }


  .title{
   
    font-size: 3rem;

    position: absolute;
    border: 1px solid #fff;
    top: 150px;
    left: 300px;
  }

  .info{
    text-shadow: 0 0 10px #fff , 0 0 20px #fff ;
    position: absolute;
    top: 250px;
    left: 410px;
    text-align: left;
   
    font-size: 1.25rem;
  }

  
/* GAME */

.gameImg{
    display: block;
    margin: auto;
    margin-bottom: 150px;
    width: 1000px;
    object-fit: cover;
  }
  
  .gameDesc{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 100px;
    margin-left: 200px;
  }
  

  
  /* FOOTER */


.footer{
    text-align: right;
    color: #fff;
    font-family:"consolas", "Cascadia mono", "Arial";
    

    margin-top: 250px;

    float: right;
  }
  
  #year{
    padding-right: 30px;
  }
  
  .copyright{
    text-align: center;
    width: 215px;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #fff;
  }